@charset "UTF-8";

body {
	background-color: #1A1A1D;
	color: white;
}

h1 {
	color: #0f94d2;
}

th, tr {
	text-align: center;
	padding-bottom: 10px;
	width:	16%;
}

.tableSeparator {
	color: black;
	font-size: 125%;
}

td {
	font-size: 140%;
}

.headerWord {
	cursor: pointer;
	font-size: 150%;
}

li {
	cursor: pointer;
	padding-bottom: 5px;
}

.wordFormsData {
	cursor: auto;
}

#myInput {
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 0px 12px 0px; /* Add some padding */
	margin-bottom: 12px; /* Add some space below the input */
	background-color: inherit;
	color: white;
	font-size: 130%;
	border: 2px solid #0f94d2;
	text-align: center;
}

#myUL  {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}


#myUL li .wordEntry {
	margin-top: -1px; /* Prevent double borders */
	background-color: #0f94d2; /* Word Container */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-size: 18px; /* Increase the font-size */
	color: black; /* Add a black text color */
	display: block;
	/* Make it into a block element to fill the whole list */
	text-align: center;
}


#myUL #wordList li div:hover:not(.tab):not(.wordFormsData):not(.tabContent) {
	background-color: #C3073F;
}

.wordEntry {
	border: 2px solid black;
}

.wordFormsData {
	display: none;
	background-color: #1A1A1D; /*Table background colour */
	color: white;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 2px solid black;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #4E4E50;
	color: white; float : left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 130%;
	float: left;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #0f94d2;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #f0544c;
}

.tableSeparator {
	background-color: #0f94d2;
	border: 2px solid black;
}

/* Style the tab content */
.tabContent {
	display: none;
	padding: 6px 12px;
	border: 2px solid black;
	border-top: none;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tablinks {
	line-height: 2;
}

table {
	width: 100%;
}